<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <li class="nav-item active">
                <a class="nav-link" href="statusExp">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span> 부서별 판관비 관리  </span></a>
          </li>
          <li class="nav-item active">
                <a class="nav-link" href="validateExp">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span> 검증  </span></a>
          </li>
          <li class="nav-item active">
                <a class="nav-link" href="default">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span> 분기별 부서 업무원가 보고서 </span></a>
          </li>
    </ul>
    <!-- End of Sidebar -->

</th:block>

</html>