<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment('판관비 현황 관리')"></th:block>
                    <!-- 본문-->
                     <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder= " 부서코드 "
                                aria-label="Search" aria-describedby="basic-addon2">
                            <h5>기간 : </h5>
                            <input type="text" class="form-control bg-light border-0 small" placeholder=" 시작일자  "
                                aria-label="Search" aria-describedby="basic-addon2">
                            <input type="text" class="form-control bg-light border-0 small" placeholder=" 종료일자 "
                                aria-label="Search" aria-describedby="basic-addon2">
                            
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div>
                    <table>
                    <thead>
                    <td> 부서  </td>
                    <td> 계정  </td>
                    <td> 예산  </td>
                    <td> 사용액  </td>
                    </thead>
                   <tbody>
                   	<tr th:each = "lists:${list}">
                   		<td th:text="|${lists.deptNm}|"></td>
                   		<td th:text="|${lists.acntNm}|"></td>
                   		<td th:text="|${lists.bdgtNm}|"></td>
                   		<td th:text="|${lists.expense}|"></td>
                   </tbody>
                    </table>
                    <th:block layout:fragment="content"></th:block>
                    </div>
                </div>
               
                <!-- 공통 하단-->
                <th:block th:replace="fragments/footer :: footerFragment"></th:block>
            </div>
        </div>

        <!-- 공통 스크립트-->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
    </body>
</html>